<app-header></app-header>
<main>
    <div class="main-hero-area">
        <div class="main-hero-content">
            <p>
                (Hopefully) helpful<br>
                stuff for the good people<br>
                of the digital<br>
                <span class="main-highlighted-word">Renaissance</span>
            </p>
            <br>
            <button class="yellow-button" (click)="loginAndAddTokenToCookies();">
                Press the <br>yellow button
            </button>
        </div>
    </div>
</main>
<app-footer></app-footer>
